* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;

}

.empty-container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 125px;
}

.header-top img {
    width: 80px;
    height: 80px;
}

.header-image img {
    width: 524px;
    height: 238px;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.header-main {
    margin-bottom: 140px;
}

ul {
    display: flex;
    gap: 20px;   
}

ul li a {
    color: #e5e7eb;
    font-size: 18px;
}

.header-main p:first-child {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
    width: 90%;
}

.header-main p {
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    width: 130px;
    height: 38px;
    border-style: none;
    color: #f9faf8;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 1000;
}

.green {
    background-color: #2a9500;
    padding: 5px;
    border-radius: 10px;
}

